<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="https://github.com/rayazanderson">Raya</a>. Some newby web developer wannabe who is trying to do her best in this class. Will post a self-portrait later so here's a picture of my cat looking really ugly in her sleep.
  </p>
  <br />
  <p>
    Once Splurty is done it'll be my birthday so I'm more than likely to be at Monterey Bay to visit the aquarium while getting a new haircut and some buisness attire so I can get hired in the future.
  </p>
  <p>
    If you want to learn how to code like I did - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sleeping_ugly.jpg', class: 'img-fluid' %>
</div>

<div class="col-12 col-sm-4 offset-sm-1">
      <h2 class="text-center">Raya Anderson</h2>
      <br />
      <p>
      Raya Anderson is a graduate from SUNY Binghamton and is terrible at selfies/portraits so here's my cat sleeping.
    </p>
  </div>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />


  