@import "bootstrap";

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #7D0552;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-style: bold;
  padding-top: 26px;
  color: #81D8D0;
}

.links a {
  color: #81D8D0;
  font-size: 25px;
  border-bottom: 1px solid #81D8D0;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.header {
  border-top: 9px solid #ECC5C0;
}

.hr{
  clear:both;
}

.h1 {
  font-family: 'Pacifico', cursive;
}

.h2 {
  font-family: 'Pacifico', cursive;}

.next-quote {
  color:#81D8D0;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
}

.footer-blurb{
font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
font-style: bold;
text-align: right;
font-size: 10px;
color:#81D8D0;
}

.logo:hover {
  text-decoration: none;
}

.about {font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

h2 span {
  color: #81D8D0;
  font-family: 'Pacifico', cursive;
}

.h1{
  font-family: 'Pacifico', cursive;
  font-weight:bold;
  font-size: 45px;
}

.btn {
  background: #ECC5C0;
  border: 1px solid #F7F7F7;
}

::selection {
  background-color: #f84342;
}